:root { 
    --hud-size: 98vw; 
    --max-size: 500px; 
    --gta-yellow: #f9ca24; 
}

body { 
    margin: 0; 
    padding: 0;
    background: #1a3315; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
    overflow: hidden; 
    touch-action: none; /* Bloquea el zoom del navegador */
    user-select: none; /* Evita que se seleccione texto al tocar */
    overscroll-behavior: none; /* Evita "pull to refresh" en Android */
    font-family: Arial, sans-serif;
}

#start-overlay {
    position: fixed; top: 0; left: 0; width: 100%; height: 100%; 
    background: #000; z-index: 9999; 
    display: flex; flex-direction: column; justify-content: center; align-items: center;
}

#start-btn {
    background: var(--gta-yellow); color: black; border: 4px solid #fff; 
    padding: 20px 50px; font-size: 1.8rem; font-weight: bold; 
    border-radius: 10px; cursor: pointer; font-family: 'Arial Black', sans-serif;
}

#wrapper { 
    position: relative; 
    width: var(--hud-size); 
    height: var(--hud-size); 
    max-width: var(--max-size); 
    max-height: var(--max-size); 
    visibility: hidden; 
}

#hud { 
    position: absolute; width: 100%; height: 100%; 
    border-radius: 50%; border: 8px solid black; 
    overflow: hidden; background: #38692d; z-index: 1; 
    box-sizing: border-box;
}

#map { position: absolute; width: 100%; height: 100%; }

#player {
    position: absolute; top: 50%; left: 50%;
    width: 28px; height: 44px;
    transform: translate(-50%, -50%) rotate(180deg);
    z-index: 10;
}

#north-orbit { 
    position: absolute; top: 0; left: 0;
    width: 100%; height: 100%; z-index: 20; pointer-events: none; 
}

#north { 
    position: absolute; top: -19px; left: 50%; 
    transform: translateX(-50%); 
    background: black; color: white; 
    font-weight: bold; font-size: 20px; 
    padding: 6px 14px; border-radius: 20px; 
}

#radio-ui {
    position: absolute; top: 50%; left: 50%; 
    transform: translate(-50%, -50%) scale(0.8);
    width: 100%; height: 100%; 
    background: radial-gradient(circle, rgba(0,0,0,0.96) 20%, rgba(0,0,0,0.7) 80%);
    border-radius: 50%; z-index: 100; 
    display: flex; flex-direction: column; justify-content: center; align-items: center;
    opacity: 0; pointer-events: none; 
    transition: 0.2s cubic-bezier(0.1, 0.7, 0.1, 1); 
    border: 4px solid var(--gta-yellow);
}

#radio-ui.active { opacity: 1; transform: translate(-50%, -50%) scale(1); pointer-events: auto; }

.station-icon-radial { 
    position: absolute; width: 45px; height: 45px; transform: translate(-50%, -50%); 
    filter: grayscale(1) opacity(0.5); transition: 0.1s;
}

.station-icon-radial.highlight { 
    filter: grayscale(0) opacity(1); transform: translate(-50%, -50%) scale(1.3); 
}

#station-name { 
    color: var(--gta-yellow); font-size: 1.2rem; text-transform: uppercase; 
    margin-top: 15px; text-shadow: 2px 2px 0px black; font-weight: bold; 
}
